<h1><%= @restaurant.name %></h1>

<li><%= @restaurant.address %> </li>
<li><%= @restaurant.phone_number %> </li>
<li><%= @restaurant.category %></li>

<%= link_to('Add a review', new_restaurant_review_path(@restaurant))  %>
